
<div class="jumbotron p-2">
    <h2 class="display-4">Books Register</h2>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit minima quisquam eligendi quos nam earum iste atque nemo! Hic architecto asperiores, itaque odit quaerat voluptas obcaecati dicta optio vel quae voluptatum laudantium similique, beatae labore quisquam. Maiores, id aliquam?</p>
</div>